<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style type="text/css">
      body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
      }
      .container {
        max-width: 600px;
        margin: 20px auto;
        padding: 20px;
        background-color: #ffffff;
      }
      .header {
        padding: 10px;
        text-align: center;
      }
      .content {
        margin: 20px 0;
        text-align: center;
      }
      .verification {
        padding: 10px 20px;
        width: auto; /* Adjusts width automatically based on content */
        border: 2px solid #1B1464; /* Solid or more pronounced border */
        border-radius: 10px;
        border-style: dashed;
        display: inline-block;
        font-family: "Courier New", monospace; /* Monospaced font for better readability */
        font-size: 20px; /* Larger font size */
        font-weight: bold; /* Bold font */
        text-align: center; /* Center align text */
      }

      .footer {
        padding: 10px;
        text-align: center;
        font-size: 12px;
      }
      .button {
        display: inline-block;
        padding: 10px 15px;
        margin: 10px auto;
        background-color: #007bff;
        color: white;
        text-decoration: none;
        border-radius: 5px;
      }
      .mx-2 {
        margin: 0 20px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <!-- Your logo goes here -->
        <img
          src="../../public/images/logo_dark.png"
          alt="Logo"
          style="width: 200px"
        />
      </div>

      <div class="content">
        <h1>Email Verification</h1>
        <p>
          Great choice on joining I can bring it! To get the most out of your
          experience, please verify your email by clicking the link below:
        </p>
        <!-- Verification Link -->
        <div class="verification">
          <strong> <%= verification_code %> </strong>
        </div>
        <p>
          No worries if you didn't request this - just ignore the email, and
          your account will stay inactive.
        </p>
      </div>

      <div class="footer">
        <p>&copy; 2023 I can bring it. All right reserved</p>
        <!-- Social Media Icons -->
        <div>
          <img
            src="../../public/images/ints.png"
            alt="Instagram"
            class="mx-2"
          />
          <img src="../../public/images/fb.png" alt="Facebook" class="mx-2" />
          <img src="../../public/images/link.png" alt="LinkedIn" class="mx-2" />
          <img
            src="../../public/images/twiiter.png"
            alt="Twitter"
            class="mx-2"
          />
        </div>
      </div>
    </div>
  </body>
</html>
